<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Simple Form</title>
</head>

<body>
  <form action="#" method="post">
    <label for="username">UserName:</label>
    <input type="text" id="username" name="username" required /><br /><br />

    <label for="password">password:</label>
    <input type="password" id="password" name="password" required /><br /><br />

    <input type="submit" value="Submit" />
  </form>
  <a href="{{ url_for('home') }}"><button>Go back to Home</button></a>
  <a href="{{ url_for('register') }}"><button>Go to register</button></a>
  <a href="{{ url_for('select_user') }}"><button>Go to Select User</button></a>
  <a href="{{ url_for('login') }}"><button>Go to login</button></a>
</body>

</html>